/*Container Geral*/
.hero-container p {
  margin-top: 25px;
}

.hero-container button {
  position: absolute;
  border-radius: 8px;
  width: 160px;
  height: 56px;
  background: #5468e7;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  margin-top: 25px;
}

/*Division One*/
.hero-container .hero-divisionOne .hero-about {
  width: 80%;
  margin: 0 auto;
}

.hero-container .hero-divisionOne .hero-about h3 {
  color: #232340;
}

.hero-container .hero-divisionOne .hero-imgHeroOne {
  position: relative;
  margin: 50px 0 15% 0;
  width: 100%;
  left: 17%;
}

/*Divison Two*/
.hero-divisionTwo {
  background-color: #232340;
  padding-bottom: 30px;
}

.hero-dateInfo {
  padding: 40px;
  color: #ffffff;
  display: block;
  border: none;
}

.hero-dateInfo h4 {
  margin: 30px 0;
}

.hero-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-date select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("../img/Hero/expand_more.svg");
  background-repeat: no-repeat;
  background-position: right;
  padding: 0 5px;
  width: 110px;
  height: 48px;
  border-radius: 8px;
  background-color: #232340;
  color: #ffffff;
  font-family: "Geologica", sans-serif;
  border: none;

  font-size: 16px;
  font-weight: 600;
}

.hero-date option {
  font-size: 12px;
}

.hero-date span {
  color: #ffffff;
}

.hero-image {
  width: 150%;
  position: relative;
  right: 25%;
}

.hero-info {
  width: 90%;
  margin: 50px auto;
  display: block;
}

.hero-info h6 {
  color: #ffffff;
}

.hero-info p {
  color: #8b8b8b;
}

.hero-info button {
  float: none;
}
.hero-branding {
  display: flex;
  margin: 50px auto;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  background: linear-gradient(1deg, #323259, #232340);
  color: #ffffff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40%;
}

.hero-branding .brandingNumber {
  font-weight: 600;
  font-size: 140px;
  line-height: 140px;
}

.hero-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  
  .hero-divisionOne {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    width: 85%;
    margin: 3% auto;
  }

  .hero-divisionOne .hero-about {
    margin-top: 15%;
    width: 100%;
  }

  .hero-divisionOne h3 {
    font-weight: 700;
    font-size: 84px;
    line-height: 100px;
    letter-spacing: -1px;
  }

  .hero-divisionOne p {
    font-size: 18px;
    padding: 30px 0;
  }

  .hero-container .hero-divisionOne .hero-imgHeroOne {
    position: relative;

    left: 0%;
    width: 105%;
    margin-top: 5%;
  }

  .hero-divisionOne button {
    width: 180px;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
  }

  /*#########################*/
  
  .hero-divisionTwo {
    background-color: #232340;
    padding-bottom: 30px;
  }

  .hero-dateInfo {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding-top: 8%;
  }

  .hero-DivisionImg {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .hero-logo {
    margin-left: 20%;
  }

  .hero-DivisionTitle {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 20px;
  }

  .hero-dateInfo .hero-DivisionTitle h4 {
    grid-column: 6/2;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    margin: 0;
  }

  .hero-date {
    display: flex;
    justify-content: start;
    align-items: baseline;
  }
  .hero-date .arrowActive {
    padding: 35px;
  }

  .hero-date select {
    display: none;
  }

  .hero-date span {
    color: #ffffff;
  }

  .hero-imgDesktop {
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }

  .hero-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #8b8b8b;
    height: 100%;
  }

  .hero-list li {
    font-size: 18px;
  }

  .hero-image {
    width: 90%;
    position: static;
    margin: 0 auto;
  }

  .hero-info {
    grid-column: 2;
  }

  .hero-infoGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10% 0;
  }

  .hero-infoGrid h6 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.5px;
  }
  .hero-infoGrid p {
    font-size: 18px;
    line-height: 32px;
  }

  .hero-infoGrid button {
    width: 180px;
    height: 64px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }

  .hero-branding {
    background: #232340;
  }

  .hero-branding .brandingNumber {
    font-weight: 600;
    font-size: 200px;
    line-height: 239px;
  }
  .hero-branding .menuItem {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.2px;
  }
}
