@import url(css/header.css);
@import url(css/hero.css);
@import url(css/service.css);
@import url(css/work.css);
@import url(css/job.css);
@import url(css/footer.css);

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700;800&display=swap");
body {
  margin: 0 auto;
  font-family: "Geologica", sans-serif;
  width: 100%;
}

main {
  margin-top: 50px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #606060;
}

h3 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;
}

h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.4px;
}

h5 {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

h6 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.number {
  color: #adadad;
  padding-right: 20px;
}

span {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
}

.menuItem {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}

.arrows {
  display: flex;
  background-repeat: no-repeat;
}

.arrow-right {
  background: url("img/arrow_right.svg");
  background-position: center;
  padding: 20px;
  background-repeat: no-repeat;
}

.arrow-left {
  background: url("img/arrow_left.svg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  margin-right: 25px;
}

.arrowActive {
  background-color: #5468e7;
  border-radius: 50%;
  padding: 30px;
}

.notification {
  display: flex;
  align-items: center;
}

.notification::after {
  content: "2";
  font-size: 14px;
  color: white;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background: linear-gradient(180deg, #3a8fff 0%, #0837ae 100%);
  border-radius: 50%;
  margin-left: 10px;
}

.job-cards li:nth-child(4) .notification::after {
  content: "6";
}

.mobileDesactive{
  display: none;
}

br{
  display: none;
}

@media screen and (min-width: 1280px) {
  br{
    display: inline;
  }


  #desktopDesactive {
    display: none;
  }

  .mobileDesactive{
    display: block;
  }
  
  
  .notification::after {
    font-size: 16px;
    width: 30px;
    height: 30px;

  }

}